@model QSurvey.Models.PHQ9Model

@{
    ViewBag.Title = "PHQ9Survey";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PHQ9Survey</title>
</head>
<style>
    .container
    {
        color:#1f497d;
    }
    .h3
    {
       margin-bottom: 10px;
    }
    p
    {
        font-size: medium;
    }
    ul, li
    {
        display: inline-block;
        list-style-type: none;
    }
    .btnSubmit
    {
        display:block;
        height:40px;
        width:150px;
        background-color:#1f497d;
        color:white;
        text-align:center;
        margin:0 auto;
        border:none;
        border-radius:40px;
        cursor:pointer;
    }
</style>
<body>
  @using (Html.BeginForm("PostSurvey", "PHQ9", FormMethod.Post))
    { 
      @Html.HiddenFor(m => m.RequestID)
      @Html.HiddenFor(m => m.AgeInYears)
      @Html.HiddenFor(m => m.IsPHQ2Completed)    
<div class="container">
            <h1>
                <center>
                 Patient Health Questionnaire (PHQ-9)
                </center>
            </h1>
            <table style="margin-left: 20px;">
                <tr>
                    <td>
                        <h3 class="h3">
                     Please respond to each question or statement by marking one box per row.</h3>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <h3 class="h3">
                          Physical Function
                        </h3>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <p style="margin-bottom: 20px;">
                           1. Little interest or pleasure in doing things
                        </p>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <ul>
                            <p>
                                @Html.RadioButtonFor(m => m.Q1, "Not At All")Not At All
                                @Html.RadioButtonFor(m => m.Q1, "Several Days")  Several Days 
                                @Html.RadioButtonFor(m => m.Q1, "More Than Half The Days")  More Than Half The Days 
                                @Html.RadioButtonFor(m => m.Q1, "Nearly Every Day")  Nearly Every Day 
                              
                            </p>
                        </ul>
                    </td>
                </tr>
                
                 <tr>
                    <td>
                        <p style="margin-bottom: 20px;">
                           2. Feeling down, depressed, or hopeless
                        </p>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <ul>
                            <p>
                                @Html.RadioButtonFor(m => m.Q2, "Not At All")Not At All
                                @Html.RadioButtonFor(m => m.Q2, "Several Days")  Several Days 
                                @Html.RadioButtonFor(m => m.Q2, "More Than Half The Days")  More Than Half The Days 
                                @Html.RadioButtonFor(m => m.Q2, "Nearly Every Day")  Nearly Every Day 
                              
                            </p>
                        </ul>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <p style="margin-bottom: 20px;">
                          3. Trouble falling or staying asleep, or speeping too much
                        </p>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <ul>
                            <p>
                                @Html.RadioButtonFor(m => m.Q3, "Not At All")Not At All
                                @Html.RadioButtonFor(m => m.Q3, "Several Days")  Several Days 
                                @Html.RadioButtonFor(m => m.Q3, "More Than Half The Days")  More Than Half The Days 
                                @Html.RadioButtonFor(m => m.Q3, "Nearly Every Day")  Nearly Every Day 
                              
                            </p>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-bottom: 20px;">
                          4. Feeling tired or having little energy
                        </p>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <ul>
                            <p>
                                @Html.RadioButtonFor(m => m.Q4, "Not At All")Not At All
                                @Html.RadioButtonFor(m => m.Q4, "Several Days")  Several Days 
                                @Html.RadioButtonFor(m => m.Q4, "More Than Half The Days")  More Than Half The Days 
                                @Html.RadioButtonFor(m => m.Q4, "Nearly Every Day")  Nearly Every Day 
                              
                            </p>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-bottom: 20px;">
                         5. Poor appetite or overeating
                        </p>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <ul>
                            <p>
                                @Html.RadioButtonFor(m => m.Q5, "Not At All")Not At All
                                @Html.RadioButtonFor(m => m.Q5, "Several Days")  Several Days 
                                @Html.RadioButtonFor(m => m.Q5, "More Than Half The Days")  More Than Half The Days 
                                @Html.RadioButtonFor(m => m.Q5, "Nearly Every Day")  Nearly Every Day 
                              
                            </p>
                        </ul>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <p style="margin-bottom: 20px;">
                         6. Feeling bad about yourself- or that you are a failure or have let yourself or your family down 
                        </p>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <ul>
                            <p>
                                @Html.RadioButtonFor(m => m.Q6, "Not At All")Not At All
                                @Html.RadioButtonFor(m => m.Q6, "Several Days")  Several Days 
                                @Html.RadioButtonFor(m => m.Q6, "More Than Half The Days")  More Than Half The Days 
                                @Html.RadioButtonFor(m => m.Q6, "Nearly Every Day")  Nearly Every Day 
                              
                            </p>
                        </ul>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <p style="margin-bottom: 20px;">
                        7. Trouble concentrating on thing, such as reading the newspaper or watching television 
                        </p>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <ul>
                            <p>
                                @Html.RadioButtonFor(m => m.Q7, "Not At All")Not At All
                                @Html.RadioButtonFor(m => m.Q7, "Several Days")  Several Days 
                                @Html.RadioButtonFor(m => m.Q7, "More Than Half The Days")  More Than Half The Days 
                                @Html.RadioButtonFor(m => m.Q7, "Nearly Every Day")  Nearly Every Day 
                              
                            </p>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-bottom: 20px;">
                        8. Moving or speaking so slowly that other people could have noticed.
                        or the opposite - being so figety or restless that you have been moving around a lot more than usual.
                        </p>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <ul>
                            <p>
                                @Html.RadioButtonFor(m => m.Q8, "Not At All")Not At All
                                @Html.RadioButtonFor(m => m.Q8, "Several Days")  Several Days 
                                @Html.RadioButtonFor(m => m.Q8, "More Than Half The Days")  More Than Half The Days 
                                @Html.RadioButtonFor(m => m.Q8, "Nearly Every Day")  Nearly Every Day 
                              
                            </p>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-bottom: 20px;">
                       9. Thoughts that you would be better off dead, or of hurting yourself.
                        </p>
                    </td>
                </tr>

                  <tr>
                    <td>
                        <ul>
                            <p>
                                @Html.RadioButtonFor(m => m.Q9, "Not At All")Not At All
                                @Html.RadioButtonFor(m => m.Q9, "Several Days")  Several Days 
                                @Html.RadioButtonFor(m => m.Q9, "More Than Half The Days")  More Than Half The Days 
                                @Html.RadioButtonFor(m => m.Q9, "Nearly Every Day")  Nearly Every Day 
                              
                            </p>
                        </ul>
                    </td>
                </tr>

                 </table>
            @if (ViewBag.ReadOnly == null || (ViewBag.ReadOnly != null && ViewBag.ReadOnly == false))
            { 
            <input class="btnSubmit" type="submit" value="Submit Survey"/>
            }
        </div>
    }
</body> 
</html> 
